.bg-light {
    background-color: #E7E7E7!important;
}

.card__description {
    font-size:12px;
    line-height: 12px;
}

.card__title {
    font-size: 18px
}

.show {
    display: block;
}

#sorter input::placeholder{
 color: white !important;
 opacity: 0.5;
 }