.bg-light {
    background-color: #E7E7E7!important;
}

.card__description {
    font-size:12px;
    line-height: 12px;
}

.card__title {
    font-size: 18px
}

.show {
    display: block;
}

/*#ingredientsOptions, #appliancesOptions, #ustensilsOptions {*/
/*    display: none;*/
/*}*/

/*#ingredientsOptions.active , #appliancesOptions.active , #ustensilsOptions.active {*/
/*    display: block;*/
/*}*/